<h3>Cart
  <button (click)="clearCart()">
    Empty Cart
  </button>
</h3>
<p>
  <a routerLink='/shipping'>
    Shipping Charges
  </a>
</p>
<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<div *ngIf="subTotal" class="cart-item">
  <span><b>Total : </b></span>
  <span>{{ subTotal | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">Purchase</button>

</form>